.media-grid {
    .media-grid-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 4px solid $white;
        cursor: pointer;
        height: 175px;
        transition: .3s;

        .media-grid-item-inner {
            background: $white;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            transition: 0.3s;
            user-select: none;
            width: 100%;
            z-index: 0;
        }

        .fa-check-square {
            color: $dark-grey;
            font-size: 24px;
            left: 5px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transition: .3s;
            user-select: none;
            z-index: 5;
        }

        &.selected {
            border: 4px solid $blue;

            .fa-check-square {
                color: $blue;
            }
        }
    }

    &.select-mode {
        .media-grid-item {
            border: 4px solid $grey;

            .fa-check-square {
                opacity: 1;
            }

            &.selected {
                border: 4px solid $blue;

            }
        }
    }
}