.image-upload-thumb-wrap {
    display: inline-block;
    text-align: center;

    .image-upload-thumb {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        height: 150px;
        transition: 0.3s;
        width: 150px;

        &.image-exists {
            border: 2px solid $white;
            &:hover {
                border: 2px solid $blue;
            }
        }
    
        &.no-image {
            background: $grey;
            border: 2px solid $dark-grey;
    
            i {
                color: $dark-grey;
                font-size: 48px;
                text-align: center;

                &.fa-upload {
                    color: $white;
                    display: none;
                }
            }
        }
    }
    
    #image-upload-thumb-rm {
        color: $red;
        cursor: pointer;
        transition: 0.3s;
    }
}