<option value="301" selected>301 Permanent Redirect</option>
<option value="302"{{#eq type 302}} selected="selected" {{/eq}}>302 Found</option>
<option value="303"{{#eq type 303}} selected="selected" {{/eq}}>303 See Other</option>
<option value="307"{{#eq type 307}} selected="selected" {{/eq}}>307 Temporary Redirect</option>
<option value="308"{{#eq type 308}} selected="selected" {{/eq}}>308 Permanent Redirect</option>