<div class="form-group">
    <small id="metaTitleHelp" class="form-text text-muted">Inserted into the HTML <xmp><title></xmp> tag</b></small>
    <input name="metaTitle" type="text" class="form-control" aria-describedby="metaTitleHelp" placeholder="Enter title ..." value="{{post.meta.title}}"></input>
    <small id="metaDescHelp" class="form-text text-muted">Inserted into the <xmp><meta></xmp> tag for "description"</b></small>
    <textarea name="metaDescription" class="form-control" aria-describedby="metaDescHelp" placeholder="Enter description ..." rows="6">{{post.meta.description}}</textarea>
</div>