<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if site_data.settings.name}}
    <title>{{site_data.settings.name}} - Site Maintenance</title> 
    <meta name="description" content="{{site_data.settings.name}} - Site Maintenance">
    {{else}}
    <title>Site Maintenance</title>
    <meta name="description" content="Site Maintenance">
    {{/if}}

</head>
<body class="maintenance">

{{{body}}}

</body>
</html>