.admin {
    .ui-helper-hidden-accessible {
        display: none !important;
    }

    .ui-datepicker {
        z-index: 1000 !important;
    }
}

.page {
    .page-body {
        padding-bottom: 30px;;
    }

    //add item overlay
    .add-item-overlay {
        background: $white;
        border: 1px solid $grey;
        border-radius: 4px;
        cursor: pointer;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        transition: background 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
        top: 0;
        user-select: none;
        width: 100%;
        z-index: 1;

        &.active {
            display: flex;
            height: 100%;
            opacity: 1;
            z-index: 5;
        }

        .fa-plus {
            font-size: 44px;
        }
    }

    .draggable {
        cursor: move;
    }

    .ui-state-highlight {
        background: $grey;
        border: 1px dotted $black;
        border-radius: 4px;
    }

    xmp {
        display: inline;
    }
}