<div class="container-fluid add-form page">
    <div class="row">

        {{> admin/components/menus/main menu-contactForms=true}}

        <div class="col-12 col-lg-10">
            <div class="row no-gutters">

                {{> admin/components/heading heading="Edit Form"}}

                {{> admin/components/notifications}}

                <div id="root" class="container page-body d-none d-lg-block"></div>

                <div class="container page-body form-screen-disclaimer d-block d-lg-none">
                    <h5>Form builder only available for desktop screens.</h5>
                </div>

            </div>
        </div>
    </div>
</div>