<div class="container-fluid edit-user page">
  <div class="row">

    {{> admin/components/menus/main menu-taxonomies=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading=(add "Edit Term: " term.name)}}

        {{> admin/components/notifications}}

        <div class="container page-body">

          <div class="row">
            <div class="col-12 col-md-4 mt-4">
              <form id="editterm" action="/editterm" method="POST">
                  <div class="form-group">
                    <label for="termName">Edit Name</label>
                    <input name="name" type="text" class="form-control" id="termName" placeholder="Term Name" value="{{term.name}}">
                    <input name="_id" type="hidden" value="{{term._id}}">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>

          <hr>

          <div class="row">
              <form action="/deleteterm" method="POST" class="d-inline-block">
                  <input name="_id" type="hidden" value="{{term._id}}">
                  <input name="_owner" type="hidden" value="{{term.owner}}">
                  <button type="submit" class="btn btn-outline-danger">Delete Term</button>
              </form>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>