<div class="row">
    <div class="col-12 col-lg-8 col-xl-6">
        <form action="/edituserpassword" method="POST" id="edituserpassword">
            <div class="form-group">
                <label for="password">New password.</label>
                <input name="password" type="password" id="password" class="form-control password_target" placeholder="Password">
                <small class="form-text text-muted password_helper">Password: <input type="text" readonly></small>
            </div>
            <div class="form-group">
                <label for="passwordCheck">Re-type new password.</label>
                <input name="passwordCheck" type="password" id="passwordCheck" class="form-control password_target" placeholder="Retype Password ...">
                <small class="form-text text-muted password_helper">The password has been inserted.</small>
            </div>
            <input name="_id" type="hidden" value="{{user._id}}">
            <button id="get_strong_pass" type="button" class="btn btn-info">Use Strong Password</button>
            <button type="submit" class="btn btn-outline-success">Update</button>
        </form>
    </div>
</div>