    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-around align-items-center">
                <p>Copyright &copy;{{year}}</p>
            </div>
        </div>
    </footer>

    {{~#if captcha}}
    <!--recaptcha scripts -->
    {{{captcha}}}
    {{~/if~}}
    <!--minified & concat JS libraries -->
    <script src="assets/libraries.js"></script>
    <!--minified & concat JS file -->
    <script src="assets/scripts.js"></script>
</body>

</html>