    <div class="container footer">
        <div class="col-12 offset-0 col-md-10 offset-md-1 footer-wrap">
            <footer class="d-flex justify-content-around align-items-center">
                <p>Copyright &copy;{{year}}</p>
            </footer>
        </div>
    </div>

    {{~#if captcha}}
    <!--recaptcha scripts -->
    {{{captcha}}}
    {{~/if~}}
    <!--minified & concat JS libraries -->
    <script src="/assets/theme/libraries.js"></script>
    <!--minified & concat JS file -->
    <script src="/assets/theme/scripts.js"></script>
</body>

</html>