{{#if data}}
<div class="row justify-content-between">
    <div class="pagination{{#lt pageCount 2}} hidden{{/lt}}">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link directional previous" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#times pageCount}}
                <li class="page-item{{#eq ../paged @index}} active{{/eq}}"><a class="page-link"
                        href="?paged={{@index}}">{{@index}}</a></li>
                {{/times}}
                <li class="page-item">
                    <a class="page-link directional next" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{/if}}