$pink: #FFC0CB;
$light-pink: #ffd2da;
$teal: #ace5db;
$lightTeal: rgba(230, 247, 244, 0.75);
$grey: rgb(233, 236, 239);
$light-grey: rgb(250, 250, 250);
$dark-grey: rgb(92, 92, 92);
$red: #dc3545;
$dark-red: #9c0a19;
$black: black;
$light-blue: rgba(0, 123, 255, 0.5);;
$blue: #007bFF;
$dark-blue: rgb(0, 79, 163);
$white: white;