{{#with site_data}}
<form action="/updatesiteinformation" method="POST" id="updatesiteinformation">
    <div class="form-group">
        <label for="site_name">The name of your website.</label>
        <input name="name" id="site_name" class="form-control" type="text" placeholder="Enter new site name ..." value="{{settings.name}}">
    </div>

    <div class="form-group">
        <label for="site_description">The description of your website. As a default, renders in <xmp><metaname="description"></xmp> meta tag.</label>
        <textarea name="description" id="site_description" class="form-control" placeholder="Enter tags ..." rows="6">{{settings.description}}</textarea>
    </div>

    <div class="form-group">
        <label for="site_address">Site Address (URL)</label>
        <input name="address" id="site_address" class="form-control" type="text" placeholder="https://www ..." rows="6" value="{{settings.address}}">
    </div>

    <div class="custom-control custom-switch mt-4 mb-4 maintenance-checkbox">
        <input type="checkbox" class="custom-control-input" id="maintenance" name="maintenance"{{#if settings.maintenance}} checked{{/if}}>
        <label class="custom-control-label" for="maintenance">Maintenance Mode</label>
    </div>

    <input name="_id" type="hidden" value="{{_id}}">
    <button type="submit" class="btn btn-success btn-lg">Update</button>
</form>
{{/with}}