<form class="updatemeta" action="/updatesitemeta" method="POST">
    <div class="form-group">
        <label for="meta_head">HTML Meta Head Tags</label>
        <textarea name="meta_head" id="meta_head" class="form-control" aria-describedby="metaHeadHelp" placeholder="Enter tags ..." rows="12">{{site_data.settings.meta_head}}</textarea>
        <small id="metaHeadHelp" class="form-text text-muted">Meta tags inserted into the html head</small>
    </div>

    <div class="form-group">
        <label for="meta_body">HTML Meta Body Tags</label>
        <textarea name="meta_body" id="meta_body" class="form-control" aria-describedby="metaBodyHelp" placeholder="Enter tags ..." rows="12">{{site_data.settings.meta_body}}</textarea>
        <small id="metaBodyHelp" class="form-text text-muted">Meta tags inserted after the opening html <xmp><body></xmp> tag</b></small>
    </div>
    <input name="_id" type="hidden" value="{{site_data._id}}">
    <button type="submit" class="btn btn-success btn-lg">Update</button>
</form>