<div class="container-fluid add-form page">
    <div class="row">

        {{> admin/components/menus/main menu-contactForms=true}}

        <div class="col-12 col-lg-10">
            <div class="row no-gutters">

                {{> admin/components/heading heading="Add Form"}}

                {{> admin/components/notifications}}

                <div id="root" class="container page-body"></div>

            </div>
        </div>
    </div>
</div>