<div class="container-fluid add-post page">
  <div class="row">

    {{> admin/components/menus/main menu-posts=true}}

    <div class="col-12 col-lg-10">
      <div class="row no-gutters">

        {{> admin/components/heading heading="Add Post"}}

        {{> shared/notifications}}

        <div class="container page-body">

          <form action="/addpost" method="POST" id="addpost" class="add-form">
            <div class="form-group row">

              <div class="col-12">
                <div class="custom-fields-notifications"></div>
              </div>

              <div class="col d-block d-md-flex align-items-center top-post-form">

                <div class="custom-control custom-switch">
                  <input id="activeSwitch" name="active" type="checkbox" class="custom-control-input" checked>
                  <label class="custom-control-label" for="activeSwitch">Active</label>
                </div>

                <div class="custom-control custom-switch ml-0 ml-md-3">
                  <input id="sitemapSwitch" name="sitemap" type="checkbox" class="custom-control-input" checked>
                  <label class="custom-control-label" for="sitemapSwitch">Include in Sitemap</label>
                </div>

                {{> admin/components/thumbnail-upload 
                image=page.image 
                id=page.id 
                delurl='/deletepageimage'
                caption='Featured Image'}}

              </div>
              
              <div class="col-12 main-post-form">
                <small id="titleHelp" class="form-text text-muted">Name of post</small>
                <input name="title" type="text" class="form-control" aria-describedby="titleHelp"
                  placeholder="Enter title ..." required></input>
              </div>
              <div class="col-12 col-md-4">
                <small id="templateHelp" class="form-text text-muted">Select a template for this post.</small>
                <select class="custom-select" name="template" aria-describedby="templateHelp">
                  {{#each templates}}
                  <option value="{{this}}">{{this}}</option>
                  {{/each}}
                  <option value="defaults/post" selected="selected">Default Post Template</option>
                </select>
              </div>
              <div class="col-12 col-md-4">
                <small id="publishedHelp" class="form-text text-muted">Publish date to display</small>
                <input name="published" type="text" class="form-control datepicker" aria-describedby="publishedHelp"
                  placeholder="Select date"></input>
              </div>
            </div>

            <hr>

            <div class="form-group">
              <label for="title">Post Content</label>
              <small id="contentHelp" class="form-text text-muted">The content of the post</small>
              <textarea name="content" class="form-control summernote-editor" aria-describedby="contentHelp"
                placeholder="The post ..."></textarea>
            </div>

            <hr>

            {{> admin/components/accordian name='post-taxonomies' title='Taxonomies' style="success" content="admin/pages/edit/post/taxonomies"}}

            {{> admin/components/accordian name='custom-fields' title='Custom Fields' style="info" content="admin/pages/edit/post/customfields"}}

            {{> admin/components/accordian name='post-meta' title='Meta' style="secondary" content="admin/pages/edit/post/meta"}}

            {{> admin/components/accordian name='page-forms' title='Forms' style="primary" content="admin/pages/edit/post/forms"}}

            <input id="_image" name="image" type="hidden">
            <button type="submit" class="btn btn-outline-info">Add Post</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>