<div class="container">
    <div class="row">
        <div class="col-12">
            {{> shared/notifications}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1>Analog default homepage</h1>
            <h5>Welcome</h5>
        </div>
    </div>
</div>