<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h1>{{page_data.title}}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-12">
            {{> frontend/notifications}}
        </div>

        <div class="col-12">
            <p>Created: {{moment page_data.created format="MMM DD YYYY"}}</p>
        </div>
        
        <div class="col-12 mt-4">
            {{{page_data.content}}}
        </div>

    </div>
</div>